/* 定位器上和下拉菜单的类并挂，这里写成两个类，压过下拉菜单的动画变量。 */

.ui-context-menu-trigger {
	display: contents;
}

.ui-dropdown-menu-positioner.ui-context-menu-positioner {
	--ui-dropdown-animation-duration: 0ms;
	--ui-dropdown-animation-scale-y: 1;
}
