.ui-descriptions {
	display: grid;
	grid-template-columns: var(--ui-descriptions-label-width, auto) minmax(0, 1fr);
	align-items: baseline;
	margin: 0;
}

.ui-descriptions-middle {
	column-gap: 16px;
	row-gap: 4px;
	line-height: 20px;

	& > dt {
		font-size: var(--text-xs);
	}

	& > dd {
		font-size: var(--text-sm);
	}

	& > dt,
	& > dd {
		padding-block: 4px;
	}
}

.ui-descriptions-small {
	column-gap: 12px;
	font-size: var(--text-xs);
	line-height: var(--text-xs--line-height);

	& > dt,
	& > dd {
		padding-block: 2px;
	}
}

.ui-descriptions-label {
	overflow: hidden;
	color: var(--color-fg-secondary);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui-descriptions-value {
	min-width: 0;
	margin: 0;
	color: var(--color-fg);
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}
