.ui-radio {
	cursor: pointer;
	display: inline-flex;
	flex: none;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 1px solid var(--color-border-secondary);
	border-radius: 50%;
	color: var(--color-canvas);
	background: var(--color-container);
	outline: none;
	transition:
		background 150ms var(--ease-out),
		border-color 150ms var(--ease-out);

	&:hover:not([data-checked]) {
		border-color: var(--color-border);
	}

	@apply focus-ring;

	&[data-checked] {
		border-color: var(--color-primary);
		background: var(--color-primary);
	}
}

.ui-radio-indicator {
	display: block;
	flex: none;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: currentcolor;
}

.ui-radio-label {
	cursor: pointer;
	user-select: none;
	display: inline-flex;
	gap: 8px;
	align-items: center;
}

.ui-radio-text {
	color: var(--color-fg);
}
