.ui-search-bar {
	position: relative;
	display: block;
	max-width: 100%;

	/* 清空由组件自己的图标按钮做。 */
	input::-webkit-search-cancel-button {
		appearance: none;
	}
}

.ui-search-bar-icon {
	color: var(--color-fg-quaternary);
}

.ui-search-bar-short-key {
	pointer-events: none;
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: 6px;
	transform: translateY(-50%);
	color: var(--color-fg-tertiary);
	backdrop-filter: saturate(150%) blur(10px);

	.ui-search-bar:focus-within & {
		display: none;
	}
}
